[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
scipy = "*"
requests = "*"
"beautifulsoup4" = "*"
lxml = "*"
"html5lib" = "*"
tabula-py = "*"
"psycopg2" = "*"
gender-guesser = "*"
matplotlib = "*"

[requires]
python_version = "3.6"
